<!-- Side Navbar -->
<nav class="side-navbar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
        <a asp-area="Identity" asp-page="/Account/Manage/Index">
            <div class="avatar"><img src="~/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
        </a>
        <div class="title">
            <h1 class="h4">@(this.User.Identity.Name)</h1>
            <p>Web Designer</p>
        </div>
    </div>
    <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
    <ul class="list-unstyled">
        <li class="active"><a asp-controller="Dashboard" asp-action="Index"> <i class="icon-home"></i>Home </a></li>
        <li>
            <a href="#tablesDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-grid"></i>Tables </a>
            <ul id="tablesDropdown" class="collapse list-unstyled ">
                <li><a href="tables.html">Bootstrap tables</a></li>
                <li><a href="tables-datatable.html">Datatable</a></li>
            </ul>
        </li>
        <li>
            <a href="#chartsDropdown" aria-expanded="false" data-toggle="collapse"> <i class="fas fa-chart-bar"></i>Charts </a>
            <ul id="chartsDropdown" class="collapse list-unstyled ">
                <li><a href="charts.html">Charts</a></li>
                <li><a href="charts-gauge-sparkline.html">Gauge + Sparkline</a></li>
            </ul>
        </li>
        <li>
            <a href="#formsDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-padnote"></i>Forms </a>
            <ul id="formsDropdown" class="collapse list-unstyled ">
                <li><a href="forms.html">Basic forms</a></li>
                <li><a href="forms-advanced.html">Advanced forms</a></li>
                <li><a href="forms-autocomplete.html">Autocomplete</a></li>
                <li><a href="forms-dropzone.html">Files upload</a></li>
                <li><a href="forms-texteditor.html">Text editor</a></li>
                <li><a href="forms-validation.html">Validation</a></li>
            </ul>
        </li>
        <li>
            <a href="#componentsDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-page"></i>Components </a>
            <ul id="componentsDropdown" class="collapse list-unstyled ">
                <li><a href="components-cards.html">Cards</a></li>
                <li><a href="components-calendar.html">Calendar</a></li>
                <li><a href="components-gallery.html">Gallery</a></li>
                <li><a href="components-loading-buttons.html">Loading buttons</a></li>
                <li><a href="components-map.html">Maps</a></li>
                <li><a href="components-notifications.html">Notifications</a></li>
                <li><a href="components-preloader.html">Preloaders</a></li>
            </ul>
        </li>
        <li>
            <a href="#pagesDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Pages </a>
            <ul id="pagesDropdown" class="collapse list-unstyled ">
                <li><a href="pages-contacts.html">Contacts</a></li>
                <li><a href="pages-invoice.html">Invoice</a></li>
                <li><a href="login.html">Login page</a></li>
                <li><a href="login-2.html">Login v.2 <span class="badge badge-info">New</span></a></li>
                <li><a href="pages-profile.html">Profile</a></li>
                <li><a href="pages-pricing.html">Pricing table</a></li>
            </ul>
        </li>
    </ul><span class="heading">Extras</span>
    <ul class="list-unstyled">
        <li> <a href="#"> <i class="icon-flask"></i>Demo </a></li>
        <li> <a href="#"> <i class="icon-screen"></i>Demo </a></li>
        <li> <a href="#"> <i class="icon-mail"></i>Demo </a></li>
        <li> <a href="#"> <i class="icon-picture"></i>Demo </a></li>
    </ul>
</nav>