/* your styles go here */


.rememberMe {
    font-size: 0.9em;
    color: #85b4f2
}

nav.navbar button, nav.navbar button:focus {
    color: inherit
}

nav.side-navbar{
    min-width: 300px;
    max-width: 300px;
}

@media (max-width: 1199px) {
    nav.side-navbar {
        margin-left: -90px;
        min-width: 90px;
        max-width: 90px;
        text-align: center;
        overflow: hidden
    }
}